html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black; /* optional */
}

canvas {
  display: block;     /* removes inline gap */
  width: 100vw;
  height: 100vh;
}